// FONTS
$redHat: 'Red Hat Display', sans-serif;
$icons: 'icons';

// COLORS
$white: #ffffff;
$black: #000000;
$greenscale: #03C220;
$grayscale: #D9D9D9, #B5B5B5, #616161, #595959, #444444, #5B5B5B, #040404;
$bluescale: #0568FD, #0076AE, #240056;
$redscale: #E20000;
$theme: #ddeae0, #2DFEFE;
